/*
	Variables
*/

/* Colors */
$red: rgb(135,0,0);
$green: rgb(16, 177, 0);

/* Breakpoints */
$size-small: 31.25rem;
$size-medium: 56.25rem;
$size-large: 135rem;

/*
	Mixins
*/
@mixin font($px) {
	font-size: $px / 16 * 1rem;
	line-height: $px / 16 * 1.4rem;
}

/*
	Meta
*/

h1, h2, h3, h4, h5, h6, p {
	-webkit-margin-before: 0;
	-moz-margin-before: 0;
	-ms-margin-before: 0;
	-o-margin-before: 0;
	margin-before: 0;
	-webkit-margin-after: 0;
	-moz-margin-after: 0;
	-ms-margin-after: 0;
	-o-margin-after: 0;
	margin-after: 0;
	-webkit-margin-start: 0;
	-moz-margin-start: 0;
	-ms-margin-start: 0;
	-o-margin-start: 0;
	margin-start: 0;
	-webkit-margin-end: 0;
	-moz-margin-end: 0;
	-ms-margin-end: 0;
	-o-margin-end: 0;
	margin-end: 0;
	margin: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* Colums */
.col {
	width: 100%;
}

@media (min-width: $size-small) {
	.col {
		display: inline-block;
		float: left;
		padding: 0 .5rem;
	}
	
	.fourfiths {
		width: 80%;
	}
	
	.threequartes {
		width: 75%;
	}
	
	.twothirds {
		width: 66.667%;
	}
	
	.half {
		width: 50%;
	}
	
	.third {
		width: 33.333%;
	}
	
	.quarter {
		width: 25%;
	}
	
	.fifth {
		width: 20%;
	}
}

/*
	General Type
*/

html {
	font-size: 16px;
}

h1, .h1 {
	@include font(48.88);
	font-weight: 700;
	letter-spacing: 0.0625rem;
}

h2, .h2 {
	@include font(39.1);
	font-weight: 600;
}

h3, .h3 {
	@include font(31.25);
	font-weight: 600;
	margin-bottom: 5px;
}

h4, .h4 {
	@include font(25);
}

p, label, input {
	@include font(20);
	font-weight: 400;
	margin-bottom: 7px;
}
 a {
	 color: lighten($red, 10%);
 }

/*
	Content
*/

select {
	@include font(20);
	border: 1px solid black;
	border-radius: 5px;
	width: 100%;
	background-color: white;
	transition: box-shadow 0.25s, border 0.25s;
	
	&:focus, &:active {
		outline: none; 
		border: 1px solid white;
		box-shadow: 0px 0px 1px 2px lighten($red, 10%);
	}
}

button, input[type=submit] {
	/*@include font(20);*/
	font-weight: 300;
	width: 20%;
	margin: 0 auto;
	padding: 10px 15px;
	color: white;
	background-color: darken($red, 5%);
	border: 0;
	border-radius: 5px;
	transition: background-color 0.5s, box-shadow 0.25s;
	
	&:hover {
		background-color: lighten($red, 10%);
	}
	
	&:focus, &:active {
		outline: none; 
		box-shadow: 0px 0px 1px 2px lighten($red, 10%);
	}
}

.error {
	border: 1px solid $red;
	background-color: lighten($red, 50%);
	color: $red;
}

.success {
	border: 1px solid $green;
	background-color: lighten($green, 50%);
	color: $green;
}

#mainheader {
	margin-bottom: 20px;
}

#container {
	width: 95%;
	margin: 10px auto;
	
	@media (min-width: $size-small) {
		width: 90%;
	}
	
	@media (min-width: $size-medium) {
		width: 60%;
		max-width: 780px;
	}	
}

#instruction {
	@media (min-width: $size-medium) {
		width: 25%;
		padding: 0 5px 0 0;
		display: inline-block;
		float: left;
	}
	
	h3 {
		@include font(25);
	}
	p {
		@include font(18);
	}
}

#quiz-content {
	width: 60%;
	margin: 0 auto;
	
	@media (min-width: $size-small) {
		width: 90%;
	}
	
	@media (min-width: $size-medium) {
		width: 75%;
		display: inline-block;
	}
}

.buchstabe {
	margin-bottom: 5px;
	padding: 20px 5px;
	transition: background-color ease-out 0.5s, border ease-out 0.5s, color ease-out 0.5s;
}

#feedback {
	margin: 10px 0;
	padding: 7px 0 0 0;
	text-align: center;
	border-radius: 5px;
}

#mainfooter {
	border-top: 3px solid rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	margin-bottom: 30px;
	
	h4 {
		@include font(25)
	}
	
	p {
		@include font(18);
	}

	img {
		width: 10%;
		margin: 0 auto;
		display: block;
	}
	
	@media (min-width: $size-medium) {
		h4 {
			@include font(18)
		}
	
		p {
			@include font(16);
			text-align: center;
		}
	}
}